Repository kefeli99/glov: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, poetry-check, mypy

ruff:
  name: ruff
  entry: ruff check
  args:
  - --fixable=F401,F841
  - --fix-only
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system

style(gitignore): add newline at the end of the file for consistency
  .gitignore
Due: none

build(pyproject.toml): add types-requests package to support type hints for requests library
  poetry.lock
  pyproject.toml
Due: poetry-check

refactor(pdf_utils.py): change parameter type of validate_pdf_url method from HttpUrl to str for better compatibility and simplicity
  glov/pdf_utils.py
Due: ruff, mypy

refactor(pdf_utils.py): change the type of the url parameter in the download_pdf method from HttpUrl to str for consistency and clarity
  glov/pdf_utils.py
Due: ruff, mypy

fix(pdf_utils.py): add logging of exception when URL does not point to a PDF file
  glov/pdf_utils.py
Due: ruff, mypy

refactor(app.py): refactor query_pdf function to use a local variable 'url' for better readability and consistency in URL handling
  glov/app.py
Due: ruff, mypy

feat(test.yml): add GitHub Actions workflow for testing on push to master
  .github/workflows/test.yml
Due: none

feat(test_pdf_service.py): add tests for downloading and validating PDF files using PDFService
  tests/test_pdf_service.py
Due: ruff, mypy

chore(pyproject.toml): add pytest configuration options to improve test reporting and execution efficiency
  poetry.lock
  pyproject.toml
Due: poetry-check

style(test_pdf_service.py): add return type annotation '-> None' to test_download_pdf and test_validate_pdf_url
  tests/test_pdf_service.py
Due: ruff, mypy

chore(app.py): add example model configuration for QueryRequest to provide a sample data structure for testing and documentation purposes
  glov/app.py
Due: ruff, mypy

feat(app.py): add metadata to FastAPI instance for better documentation and API information
  glov/app.py
Due: ruff, mypy

feat(pdf_utils.py): add method check_pdf_size to PDFService class to check the size of a PDF file before downloading it
  glov/pdf_utils.py
Due: ruff, mypy

feat(pdf_utils.py): add check_pdf_size method call before downloading PDF to ensure file size is acceptable
  glov/pdf_utils.py
Due: ruff, mypy

feat(test_pdf_service.py): add fixture to download and validate PDF file in tests
  tests/test_pdf_service.py
Due: ruff, mypy

feat(test_text_splitter.py): add test cases for text splitter functionality to ensure proper splitting of documents into 100-word chunks and accurate word count in each chunk
  tests/test_text_splitter.py
Due: ruff, mypy

chore(test_text_splitter.py): add type annotations to loader, docs, text_splitter, test_text_splitter, and test_exact_word_count fixtures to improve code readability and maintainability
  tests/test_text_splitter.py
Due: ruff, mypy

feat(pyproject.toml): add pymupdf library as a new dependency to the project
  poetry.lock
  pyproject.toml
Due: poetry-check

feat(assets): add example pdf file and pdfloader benchmark image
  assets/FIA_2024_Formula_1_Technical_Regulations.pdf
  assets/pdf_loader_comparison.png
Due: none

refactor(test_text_splitter.py): replace PyPDFium2Loader with PyMuPDFLoader for better performance
  tests/test_text_splitter.py
Due: ruff, mypy

refactor(app.py): replace PyPDFium2Loader with PyMuPDFLoader for better performance
  glov/app.py
Due: ruff, mypy

feat(README.md): add features, further improvements, installation, usage, build docker image sections to README.md
  README.md
Due: none

chore(app.py): refactor DB_CONNECTION variable to use os.getenv for better flexibility and to allow configuration through environment variables
  glov/app.py
Due: ruff, mypy

chore(gitignore): add 'reports/' and 'models/' directories to gitignore to exclude them from version control
  .gitignore
Due: none

docs(README.md): add instructions to run Docker Compose for easier deployment and testing of the application
  README.md
Due: none

feat(Dockerfile): add Dockerfile to set up a multi-stage build for the application
  docker/Dockerfile
Due: none

feat(docker-compose.yml): add docker-compose file for setting up glov-rag services
  docker/docker-compose.yml
Due: none

feat(Caddyfile): add Caddyfile configuration for glov.kefeli.dev to reverse proxy requests to glov service on port 8000
  docker/Caddyfile
Due: none

docs(README.md): add cURL example for using the API endpoint with detailed request and response information
  README.md
Due: none

docs(README.md): update cURL usage examples with correct endpoint URL and add example with a large document for FIA Rules to provide more context and information for users
  README.md
Due: none

chore(Dockerfile): add newline at the end of the file
  docker/Caddyfile
  docker/Dockerfile
Due: none

chore(gitignore): add missing newline at the end of the file to follow convention
  .gitignore
Due: none

feat(readme): add request videos
  README.md
Due: none

docs(README.md): update README to reflect accurate response time for FIA Rules document
  README.md
Due: none

docs(app.py): update example query and URL in model_config for QueryRequest class
  glov/app.py
Due: ruff, mypy

Path conditions:
  ruff: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
